extends ./style.jade
block head
    title Contact | Derek Redfern
    script(src='/js/home.js')
block body
  body
    div(class="navbar-wrapper")
      div(class="container")
        div(class="navbar navbar-inverse" role="navigation")
          div(class="container")
            div(class="navbar-header")
              button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
              a(class="navbar-brand" href="") Derek Redfern
            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
              ul(class="nav navbar-nav")
                li
                  a(href="/") Home
                li
                  a(href="/work") Work
                li
                  a(href="/courses") Courses
                li
                  a(href="/projects") Projects
                li
                  a(href="/adventures") Adventures
                li(class="active")
                  a(href="/contact") Contact

    div(class="container")
      //- div(class="row")
      //-   div(class="col-xs-12")
      //-     h1 How to Contact Me
      div(class="row")
        div(class="col-xs-12")
          div(class="panel panel-default")
            div(class="panel-heading")
              h3 How to Contact Me
            table(class="table")
              tr
                td 
                  div(class="container-fluid")
                    div(class="row")
                      div(class="col-md-4") Cell
                      div(class="col-md-4") 203.751.3870
                      div(class="col-md-4") Testing
              tr
                td 
                  div(class="container-fluid")
                    div(class="row")
                      div(class="col-md-4") Primary Email / Google Hangouts
                      div(class="col-md-4") redfern.derek@gmail.com
                      div(class="col-md-4") Testing
              tr
                td 
                  div(class="container-fluid")
                    div(class="row")
                      div(class="col-md-4") Olin College Email
                      div(class="col-md-4") derek.redfern@students.olin.edu
                      div(class="col-md-4") Testing
              tr
                td 
                  div(class="container-fluid")
                    div(class="row")
                      div(class="col-md-4") Mailing Address
                      div(class="col-md-4") Ask me. It changes frequently.
                      div(class="col-md-4") 
              tr
                td 
                  div(class="container-fluid")
                    div(class="row")
                      div(class="col-md-4") Github
                      div(class="col-md-4") redfern314
                      div(class="col-md-4") Testing
              tr
                td 
                  div(class="container-fluid")
                    div(class="row")
                      div(class="col-md-4") LinkedIn
                      div(class="col-md-4") derek.redfern (?)
                      div(class="col-md-4") Testing
              tr
                td 
                  div(class="container-fluid")
                    div(class="row")
                      div(class="col-md-4") StackOverflow
                      div(class="col-md-4") 203.751.3870
                      div(class="col-md-4") Testing