extends ./style.jade
block head
    title Home | Derek Redfern
    script(src='/js/home.js')
block body
  body
    div(class="navbar-wrapper")
      div(class="container")
        div(class="navbar navbar-inverse" role="navigation")
          div(class="container")
            div(class="navbar-header")
              button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
              a(class="navbar-brand" href="") Derek Redfern
            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
              ul(class="nav navbar-nav")
                li(class="active")
                  a(href="/") Home
                li
                  a(href="/work") Work
                li
                  a(href="/courses") Courses
                li
                  a(href="/projects") Projects
                li
                  a(href="/adventures") Adventures
                li
                  a(href="/contact") Contact

    div(class="container")
      div(class="row")
        div(class="col-xs-12")
          div(id="myCarousel" class="carousel slide" data-ride="carousel")
            ol(class="carousel-indicators")
              li(data-target="#myCarousel" data-slide-to="0" class="active" )
              li(data-target="#myCarousel" data-slide-to="1" )
              li(data-target="#myCarousel" data-slide-to="2" )
            div(class="carousel-inner")
              div(class="item active")
                //- img(src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide")
                div(class="container")
                  div(class="carousel-caption")
                    h1 Embedded Devices
                    p It would probably be beneficial to say something here.
              div(class="item")
                //- img(src="data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide")
                div(class="container")
                  div(class="carousel-caption")
                    h1 Product Design
                    p Or, maybe it's more fun to put in filler text.
              div(class="item")
                //- img(src="data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide")
                div(class="container")
                  div(class="carousel-caption")
                    h1 Hiking, Circus Arts, and Other Adventures
                    p People don't like filler text.
            a(class="left carousel-control" href="#myCarousel" role="button" data-slide="prev") 
              span(class="glyphicon glyphicon-chevron-left")
            a(class="right carousel-control" href="#myCarousel" role="button" data-slide="next") 
              span(class="glyphicon glyphicon-chevron-right")
          br
      div(class="row")
        div(class="col-xs-12")
          div(class="panel panel-default")
            div(class="panel-heading")
              h3 About me
            div(class="panel-body")
              | Testing testing! We'll put a picture of me here, aligned to the right side.
      div(class="row")
        div(class="col-md-6 col-lg-3 hcenter")
          h2 Work Experience
          p My 4 internships so far have spanned 3 different metro areas and a variety of different tech-centric markets. Here's what I've worked on (or, at least, what I can tell you about).
          a(class="btn btn-sm btn-primary" href="/work" role="button") More about my work
        div(class="col-md-6 col-lg-3 hcenter")
          h2 Coursework @ Olin
          p My major is Engineering with a Concentration in Computing. These are the classes I chose to complete my concentration, as well as a brief overview of the F. W. Olin College of Engineering.
          a(class="btn btn-sm btn-primary" href="/courses" role="button") What's Olin?
        div(class="col-md-6 col-lg-3 hcenter")
          h2 Side Projects
          p Writing firmware for electric go-karts is pretty cool. Everybody needs a hobby, they say...
          a(class="btn btn-sm btn-primary" href="/projects" role="button") More about REVO
        div(class="col-md-6 col-lg-3 hcenter")
          h2 Adventures
          p Long-distance hiking. Mountaineering. Fire arts. Unicycling. This is what I do in my spare time!
          a(class="btn btn-sm btn-primary" href="/adventures" role="button") Sounds dangerous. Tell me about it!
        br
        br
      include ./footer.jade