extends ./style.jade
block head
    title Projects | Derek Redfern
block body
  body
    div(class="navbar-wrapper")
      div(class="container")
        div(class="navbar navbar-inverse" role="navigation")
          div(class="container")
            div(class="navbar-header")
              button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
              a(class="navbar-brand" href="/") Derek Redfern
            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
              ul(class="nav navbar-nav")
                li
                  a(href="/") Home
                li
                  a(href="/work") Work
                li
                  a(href="/courses") Courses
                li(class="active")
                  a(href="/projects") Projects
                li
                  a(href="/adventures") Adventures
                li
                  a(href="/contact") Contact

    div(class="container")
      div(class="row")
        div(class="col-xs-12")
          div(class="panel panel-default")
            div(class="panel-heading")
              h3 Researching Electric Vehicles at Olin (REVO)
            div(class="panel panel-body")
              | Filler
      div(class="row")
        div(class="col-xs-12")
          div(class="panel panel-default")
            div(class="panel-heading")
              h3 Olin Robotic Bioinspiration (ORB) Lab
            div(class="panel panel-body")
              | Filler