extends ./style.jade
block head
    title Work | Derek Redfern
block body
  body
    div(class="navbar-wrapper")
      div(class="container")
        div(class="navbar navbar-inverse" role="navigation")
          div(class="container")
            div(class="navbar-header")
              button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
              a(class="navbar-brand" href="/") Derek Redfern
            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
              ul(class="nav navbar-nav")
                li
                  a(href="/") Home
                li(class="active")
                  a(href="/work") Work
                li
                  a(href="/courses") Courses
                li
                  a(href="/projects") Projects
                li
                  a(href="/adventures") Adventures
                li
                  a(href="/contact") Contact

    div(class="container")
      div(class="row")
        div(class="col-xs-12")
          div(class="panel panel-default")
            div(class="panel-heading")
              div(class="row")
                div(class="col-xs-6")
                  h3 Retriever Systems, Inc
                  h5 Engineering Contractor
                  h5 June - August 2014
                div(class="col-xs-6 right")
                  img(src="/img/retriever.png")
            div(class="panel panel-body")
              ul
                li Built an item-level ID tagging ecosystem from the bottom up as the primary product engineer at a 3-person startup; prepared functional demos for potential seed investors
                li Passive RFID tags: integrated a reader and middleware with a custom webapp on AWS
                li Active BLE tags: modified TI firmware to mesh with custom Android and iOS apps
                li Result at the end of the summer: iCellar and WineBeacon (http://www.retrieversystemsinc.com/solutions.html)
      div(class="row")
        div(class="col-xs-12")
          div(class="panel panel-default")
            div(class="panel-heading")
              div(class="row")
                div(class="col-xs-6")
                  h3 Quanttus, Inc
                  h5 Firmware Engineering Intern
                  h5 January - March 2014
                div(class="col-xs-6 right")
                  img(src="/img/quanttus.png")
            div(class="panel panel-body")
              ul
                li Took an active role in developing the firmware for an early-stage medical device startup
                li Contributed an essential library to the production codebase for the device firmware
                li Owned the development, debugging, and maintanence of a device test harness application
      div(class="row")
        div(class="col-xs-12")
          div(class="panel panel-default")
            div(class="panel-heading")
              div(class="row")
                div(class="col-xs-6")
                  h3 Synapse Product Development
                  h5 Software Engineering Intern
                  h5 June - August 2013
                div(class="col-xs-6 right")
                  img(src="/img/synapse.png")
            div(class="panel panel-body")
              ul
                li Took part in the Architecture and POC phases for the design of a consumer product, sometimes working directly with the [Fortune 100] client to research features
                li Wrote RTOS-based embedded applications in C and C++ for ARM MCUs
                li Investigated tough design problems through rapid prototyping using AVR/Arduino
      div(class="row")
        div(class="col-xs-12")
          div(class="panel panel-default")
            div(class="panel-heading")
              div(class="row")
                div(class="col-xs-6")
                  h3 One2One2Go
                  h5 Intern
                  h5 January - May 2011
                div(class="col-xs-6 right")
                  img(src="/img/squeak.png")
            div(class="panel panel-body")
              p One2One2Go is a nonprofit organization working to improve the education and lives of kids and families in the Somerville area. 
              p The project I worked on while I was with them involved leading the repair and reimaging of computer systems. I installed Ubuntu 10.10 and a suite of educational applications and installed them into the homes of residents of the Clarendon Hill Apartments, a mostly Haitian housing complex.
              p As part of a parallel project to increase technological literacy in the complex, I helped to run an evening class for kids on eToys, a graphical programming environment in which they could create their own games.
              p I also started the process of training new volunteers to continue the eToys classes and similar workshops in my absence from the organization.